/* entire container, keeps perspective */
.flip-container {
	-webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(-180deg);
}


.flip-container, .flipper, .frontA, .frontB,  .back {
	width: 240px;
	height: 300px;
}

/* flip speed goes here */
.flipper {
	-webkit-transition: all .8s cubic-bezier(0.645,.045,.355,1);
    -moz-transition: all .8s cubic-bezier(0.645,.045,.355,1);
    -ms-transition: all .8s cubic-bezier(0.645,.045,.355,1);
    -o-transition: all .8s cubic-bezier(0.645,.045,.355,1);
    transition: all .8s cubic-bezier(0.645,.045,.355,1);
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
/* Para los iconos de servicios */
.flipper i{
	padding-top: 20px;
	color: #006e9d;
}
/* hide back of pane during swap */
.frontA, .frontB, .back {
	padding: 10px;
	text-align: center;
	backface-visibility: hidden;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.frontA {
	text-align: center;
	padding-top: 30px;
	z-index: 2;
	color: #fff;
	background-color: #2A2A2D; 
	/* for firefox 31 */
	transform: rotateY(0deg);
}
.frontB {
	text-align: center;
	padding-top: 30px;
	z-index: 2;
	color: #fff;
	background-color: #363D44; 
	/* for firefox 31 */
	transform: rotateY(0deg);
}
.frontA .title, .frontB .title{
	padding-top: 20px;
	font-size: 25px;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
	background-color: #006e9d;
}
.back .title{
	padding-top: 30px;
	font-size: 20px;
}
.back .content{
	padding-top: 5px;
}