/* ESTILOS DE LA BARRA LATERAL DE REDES SOCIALES */

a { 
   text-decoration: none;
}
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
.container {
   margin: 0 auto;
   padding: 20px 50px;
   background: white;
}
#sticky-social {
   left: 0;
   position: fixed;
   top: 35px;
   z-index: 999;
}
#sticky-social a {
    background: #333;
    color: #fff;
    display: block;
    height: 45px;
    font: 22px "Open Sans", sans-serif;
    line-height: 45px;
    position: relative;
    text-align: center;
    width: 45px;
}
#sticky-social a:hover {
    text-decoration: none;
}
#sticky-social a span {
    line-height: 45px;
    font-size: 20px;
    left: -140px;
    position: absolute;
    text-align: center;
    width: 140px;
}
#sticky-social a:hover span {
   left: 100%;
}
#sticky-social a[class="facebook"],
#sticky-social a[class="facebook"]:hover,
#sticky-social a[class="facebook"] span { background: #3b5998; }

#sticky-social a[class="twitter"],
#sticky-social a[class="twitter"]:hover,
#sticky-social a[class="twitter"] span { background: #00aced; }

#sticky-social a[class="gplus"],
#sticky-social a[class="gplus"]:hover,
#sticky-social a[class="gplus"] span { background: #dd4b39; }  

#sticky-social a[class="linkedin"],
#sticky-social a[class="linkedin"]:hover,
#sticky-social a[class="linkedin"] span { background: #007bb6; }  

#sticky-social a[class="instagram"],
#sticky-social a[class="instagram"]:hover,
#sticky-social a[class="instagram"] span { background: #517fa4; }  

#sticky-social a[class="pinterest"],
#sticky-social a[class="pinterest"]:hover,
#sticky-social a[class="pinterest"] span { background: #cc2127; }   