@media screen and (min-width:980px) and (max-width:1200px) {
	#container, .container {  padding: 0 15px;}
	.menu a {
    padding: 65px 17px 6px;
	}
.cycloneslider{
 margin: 0 auto;
 overflow: hidden;
}

.cycloneslider .cycle-slide{
 margin-left:-485px;
}
.rtl .cycloneslider .cycle-slide { margin-left:485px;}

.cycloneslider .cycloneslider-slides{
 height:475px !important;
 width: 2000px;
 overflow: hidden;
 margin: auto;
}
.home .post-entry {padding-right:200px;}
.news-letter {
	padding:40px 0;
	background-size:cover;
	}


.middlebar.WP_Editor_Widget p {
    margin: 0 0 0px -250px;
    width: 1500px;
}

}
@media screen and (max-width:1100px) {

#header { text-align:center;}	
	.js .sub-header-menu {
		display: none;
	}

	.js .main-nav {
		position: relative;
		background-color: #211d70;
		margin:15px auto 0;
		height:30px;
		width:40px;
	}

	.js .main-nav .menu {
		display: none;
		position: absolute;
		width: 100%;
		top: 30px;
		z-index: 1000;
		min-width:300px;
		right:0px;
	}

	.js .main-nav .menu ul {
		margin-top: 1px;
	}

	.js .main-nav .menu li {
		float: none;
		background-color: #ffffff;
		border: none;
		margin:0px;
	}

	.js .main-nav .menu li a {
		color: #333333;
		font-weight: normal;
		height: 45px;
		line-height: 45px;
		padding: 0 15px;
		border: none;
		border-bottom: 1px solid #c4c4c4;
		text-shadow: none;
		text-align: left;
		cursor: pointer;
	}

	.js .main-nav .menu li.current_page_item,
	.js .menu .current_page_item a,
	.js .menu .current-menu-item a {
		background-color: #f7f7f7;
		color:#211d70;
	}
.js .menu .current_page_item a,
.js .menu .current-menu-item a,
.js .menu .active-parent a {
		border-bottom: 1px solid #211d70 !important;
	}	
.js .menu .current_page_item li a,
.js .menu .current-menu-item li a,
.js .menu .active-parent li a {
		border-bottom: 1px solid #c4c4c4 !important;
	}
.js .menu li li.current_page_item a,
.js .menu li li.current-menu-item a {
		border-bottom: 1px solid #211d70 !important;
	}

	.js .main-nav .menu li li:hover {
		background: none !important;
	}

	.js .main-nav .menu li li a {
		position: relative;
		padding: 0 10px 0 20px;
	}

	.js .main-nav .menu li li li a {
		position: relative;
		padding: 0 10px 0 40px;
	}

	.js .main-nav .menu li a:hover,
	.js .main-nav .menu li li a:hover {
		background-image: none;
		filter: none;
		background-color: #f5f5f5 !important;
	}

	.js .main-nav .menu li li a::before {
		content: '\2013';
		position: absolute;
		top: 0;
		left: 10px;
	}

	.js .main-nav .menu li li li a::before {
		content: '\2013';
		position: absolute;
		top: 0;
		left: 20px;
	}

	.js .main-nav .menu li li li a::after {
		content: '\2013';
		position: absolute;
		top: 0;
		left: 30px;
	}

	.js .main-nav .menu li ul {
		position: static;
		visibility: visible;
		background-color: #ffffff;
		border:none;
	}

	.js .main-nav .menu ul {
		min-width: 0;
	}

	.js .main-nav #responsive_current_menu_item {
		display: block;
		padding:0;
		color: #ffffff;
		font-weight:normal;
		font-size:0px !important;
		cursor: pointer;
		display:none;
	}

	.js .main-nav a#responsive_menu_button {
		position: absolute;
		display: block;
		top: 0;
		left:0;
		height:30px;
		width:40px;
		background: url('../images/select-icons.png') 5px 5px no-repeat;
		cursor: pointer;
	}

	.js .main-nav a#responsive_menu_button.responsive-toggle-open {
		background: url('../images/select-icons.png') 5px -46px no-repeat;
	}
.top-widget {
    text-align: right;
    width:63%;
}	

#lang_sel {
    text-align: left;
}	

}
@media screen and (max-width: 1024px) {	
input[type="button"].Printbutton { display:none;}
}
/* =Responsive (Mobile) Design
-------------------------------------------------------------- */

@media screen and (max-width: 980px) {

	body {
	}
#container, .container {  padding: 0 15px;}



.home .post-entry {
    font-family: 'latolight';
    font-size: 16px;
    padding-right: 200px;
}
.about-section .about-col .col1 {
    margin-right:4.2735% !important;
    text-align: right;
    width: 43.0769% !important;
	float:left !important;
}
.about-section .about-col .col1 .su-column-inner { padding-left:0px;}
.about-section .about-col .col2 {
    margin: 0 !important;
    width: 52.6496% !important;
	float:right !important;
}


.our-object-section .alignright {
    width:45%;
}	
	.copyright,
	.scroll-top,
	.powered {
		float: left;
	}

	#featured-image .fluid-width-video-wrapper {
		margin: 20px 0 0 0;
	}

	.front-page  #widgets {
		margin-top: 40px;
	}

.top-widget {
    text-align: right;
    width:50%;
}

#lang_sel {
    text-align: left;
}

	.hide-desktop {
		display: block;
	}

	.show-desktop {
		display: none;
	}

	.hide-980 {
		display: none;
	}

	.show-980 {
		display: block;
	}


.middlebar .cycloneslider{
 margin: 0 auto;
 overflow: hidden;
}

.middlebar .cycloneslider .cycle-slide{
 margin-left: -354px;
}
.rtl .cycloneslider .cycle-slide { margin-left:354px;}

.middlebar .cycloneslider .cycloneslider-slides{
 height:350px !important;
 width:1476px;
 overflow: hidden;
 margin: auto;
}
.middlebar .cycloneslider-template-standard .cycloneslider-caption {
    bottom:100px;
}

.middlebar .cycloneslider-template-standard .cycloneslider-caption-title {
    font-size: 22px;
}
.middlebar .cycloneslider-template-standard .cycloneslider-caption-description p {
    font-size:40px;
    line-height:1.5;
    padding:0;
 	}
.middlebar.WP_Editor_Widget p {
    margin: 0 0 0px -180px;
    width:1200px;
}	
	
	.news-letter {
	padding:40px 0;
	background-size:cover;
	}
#colophon-widget { text-align:center;}
.colophon-widget .widget-title {
		float:none;
		margin-bottom:15px;
	}

.colophon-widget .widget_wysija_cont {
    color: #ffffff;
    float:none;
}
.colophon-widget .widget_wysija p {
	float:none;
    padding:0 0 13px;
	}

.colophon-widget .widget_wysija p.wysija-paragraph {
    padding: 0;
	display:inline-block; vertical-align:middle;
}


.wpcf7 ul li label {
    width: 120px;
}

.wpcf7 input[type="text"], .wpcf7 input[type="email"] {
    width: 220px;
}

.wpcf7 textarea {
    width:220px;
}
.wpcf7 input.wpcf7-captchar {
    width:130px;
}
.wpcf7 ul li.submit-btn {
    margin-left: 120px;
}
	
}

@media screen and (max-width: 768px) {

 }

@media screen and (max-width: 650px) {

	body {
	}

	#logo {
		float: none;
		text-align: center;
		margin:20px 0;
	}
#lang_sel a, #lang_sel a:visited {
	border:1px solid #c4c4c4;
	}
#lang_sel ul ul {
    top: 30px;
 }	
	
	.grid,
	.grid-right {
		float: none;
	}

	#featured-image .fluid-width-video-wrapper {
		margin: 20px 0 0 0;
	}

	.top-widget {
		float: none;
		margin: 0 5px;
		position: relative;
		text-align: center;
		width: auto;
		display:inline-block;
		z-index:999;
	}

	.top-widget .widget-title h3 {
		text-align: center;
	}

.js .main-nav {
    margin:0 5px;
	float:none;
	display:inline-block;
	vertical-align:top;
}
	.top-menu,
	.footer-menu li {
		float: none;
		font-size: 11px;
		text-align: center;
	}

	#author-meta {
		padding: 20px;
	}

	#wrapper .gallery .gallery-item {
		max-width: 100%;
	}

	.hide-650 {
		display: none;
	}

	.show-650 {
		display: block;
	}

	.hide-mobile {
		display: none;
	}

	#footer {
		text-align: center;
	}

	#footer .social-icons {
		padding-bottom: 10px;
		text-align: center;
	}

#footer_widget .social ul {
    display: inline-block;
}
#footer_widget .social ul li {
    text-align: left;
}

.middlebar .cycloneslider-template-standard .cycloneslider-caption-title {
    font-size: 14px;
}
.middlebar .cycloneslider-template-standard .cycloneslider-caption-description p {
    font-size: 18px;
	font-family: 'latobold';
}
.middlebar .cycloneslider-template-standard .cycloneslider-caption-description a {
    font-size:12px;
    height:29px;
    line-height:29px;
    text-align: center;
    text-transform: uppercase;
    width:98px;
}	

.middlebar .cycloneslider .cycle-slide{
 margin-left:-220px;
}
.rtl .cycloneslider .cycle-slide { margin-left:220px;}
.middlebar .cycloneslider .cycloneslider-slides{
 height:237px !important;
 width:1000px;
 overflow: hidden;
 margin: auto;
}

.middlebar .cycloneslider-template-standard .cycloneslider-caption-title {
    font-size:16px;
    margin: 0 auto;
    max-width:460px;
}

.middlebar .cycloneslider-template-standard .cycloneslider-caption-description {
    font-size:22px;
    line-height: 1;
    margin: 0 auto;
    max-width:460px;
    padding:0;
}

.middlebar .cycloneslider-template-standard .cycloneslider-caption {
    bottom:50px;
}


.middlebar.WP_Editor_Widget p {
    margin: 0 0 0px -150px;
    width:800px;
}

.home .post-entry {
    padding:0 0 40px 0;
}

.home .post-entry a {
    font-size:12px;
    height:31px;
    line-height:31px;
    position: absolute;
    right:auto;
	left:0px;
    top:auto;
	bottom:0px;
    width:100px;
}

.portfolio-inr .col-4 {
    float: left;
    margin-top: 25px;
    width:50%;
}
.portfolio-inr .col-2 {
    float:none;
    margin-bottom:40px;
    width:100%;
}

.portfolio-list .portfolio-inr {
    margin:0;
}

.portfolio-inr .col-2 .post-info {
    margin:0;
    overflow: hidden;
}

.portfolio-inr {
    margin-right: -4%;
    overflow: hidden;
}
.portfolio-inr .clear-row { display:block;}
.portfolio-inr .col-4 .post-info {
    margin-right: 8%;
}


.about-section .about-col .col1 {
    float: none !important;
    margin-right:0 !important;
    text-align: left;
    width:100% !important;
}
.about-section .about-col .col2 {
    float: none !important;
    margin: 0 !important;
    width:100% !important;
}

.about-section .about-col .col2 a.more-link { margin-left:0px;}
.our-object-section .alignright {
    width: auto;
	margin:0 0 30px 0;
}
	

.colophon-widget .widget_wysija p.wysija-paragraph {
    display:block;
    padding:0 0 15px 0;
    vertical-align: middle;
}	
.colophon-widget .formError {
    margin: 0 0 2px 0;
    position: relative !important;
    text-align: center;
    top: 0 !important;
}


.colophon-widget .formError .formErrorContent {
    margin:0 auto;
}

.colophon-widget input[type="text"] {
    margin-left:0px;
}

.colophon-widget .widget_wysija_cont .wysija-submit {
    margin:0;
}


.portfolio-single .entry-thumb {
    float:none;
    margin:5px 0px 15px 0;
}
.portfolio-single { margin-bottom:30px; display:block; width:100%;}

#widgets {
	display:block;
	margin-bottom:30px;
	width:100%;
}

.ft-copyright {
	text-align:center;
	}

.copyright {float:none; margin-bottom:15px;}
.ft-logo {
    float:none;
}


.wpcf7 ul li label {
    width: 25%;
	float:left;
}
.wpcf7 span.wpcf7-form-control-wrap {
	width:75%;
}

.wpcf7 input[type="text"], .wpcf7 input[type="email"] {
    width:100%;
}	

.wpcf7 textarea {
    width:100%;
}
.wpcf7 span.wpcf7-form-control-wrap.captcha1 {
    width: 54%;
}

.wpcf7 ul li.submit-btn {
    margin-left:25%;
}


.member .member-img {
    float: none;
    margin:0 0 15px 0;
}
	
}

@media screen and (max-width: 480px) {

	body {
	}

	#logo {
		float: none;
		text-align: center;
	}

.middlebar .cycloneslider .cycle-slide{
 margin-left:-240px;
}
.rtl .cycloneslider .cycle-slide { margin-left:240px;}
.middlebar .cycloneslider .cycloneslider-slides{
 height:228px !important;
 width:960px;
 overflow: hidden;
 margin: auto;
}

.middlebar .cycloneslider-template-standard .cycloneslider-caption-title {
    font-size:16px;
    margin: 0 auto;
    max-width:440px;
}

.middlebar .cycloneslider-template-standard .cycloneslider-caption-description {
    font-size:22px;
    line-height: 1;
    margin: 0 auto;
    max-width:440px;
    padding:0;
}

.middlebar .cycloneslider-template-standard .cycloneslider-caption {
    bottom:50px;
}

	.grid,
	.grid-right {
		float: none;
	}

	#featured-image .fluid-width-video-wrapper {
		margin: 20px 0 0 0;
	}

	.featured-title {
		font-size: 40px;
		padding: 40px 20px 0 20px
	}

	.featured-subtitle {
		font-size: 24px;
	}

	.navigation .next,
	.navigation .previous {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	.menu ul,
	.menu li,
	.top-menu,
	.footer-menu li,
	.sub-header-menu li {
		float: none;
		text-align: center;
		text-rendering: optimizeSpeed;
	}


	#wrapper .gallery .gallery-item {
		float: none;
	}

	.hide-480 {
		display: none;
	}

	.show-480 {
		display: block;
	}

	#footer {
		text-align: center;
	}

	#footer .social-icons {
		text-align: center;
	}
}

@media screen and (max-width: 320px) {

	body {
	}
.js .main-nav .menu {
    right: -62px;
}
	#featured p {
		font-size: 12px;
		line-height: 1.5em;
	}

	.featured-title {
		font-size: 35px;
	}

	.featured-subtitle {
		font-size: 15px;
	}

	.call-to-action a.button {
		font-size: 14px;
		padding: 7px 17px;
	}

	.hide-320 {
		display: none;
	}

	.show-320 {
		display: block;
	}
.middlebar.WP_Editor_Widget p {
    margin: 0 0 0px -100px;
    width: 500px;
}

.middlebar .cycloneslider .cycle-slide{
 margin-left:-160px;
}
.rtl .cycloneslider .cycle-slide { margin-left:160px;}
.middlebar .cycloneslider .cycloneslider-slides{
 height:152px !important;
 width:640px;
}

.middlebar .cycloneslider-template-standard .cycloneslider-caption-title {
    font-size: 14px;
    max-width:280px;
}

.middlebar .cycloneslider-template-standard .cycloneslider-caption-description {
    font-size: 12px;
    max-width:280px;
}

.middlebar .cycloneslider-template-standard .cycloneslider-caption {
    bottom: 20px;
}

.portfolio-inr .col-4 {
    width:100%;
	float:none;
}	


.portfolio-inr {
    margin-right:0;
}
.portfolio-inr .col-4 .post-info {
    margin-right:0;}
.portfolio-post .entry-thumb img {
	width:100%;
}


.portfolio-list .portfolio-post .entry-thumb {
    float:none;
    margin:0 0 15px 0;
    width:100%;
}

.portfolio-list .portfolio-post .post-detail {
    float:none;
    width:100%;
}

.addres-bar .widget-inr {
    padding-left: 0;
}


.wpcf7 ul li label {
    float:none;
    width:100%;
	display:block;
	margin-bottom:5px;
}
.wpcf7 span.wpcf7-form-control-wrap {
    width:100%;
}

.wpcf7 ul li.submit-btn {
    margin-left:0;
}


.wpcf7 span.wpcf7-form-control-wrap.captcha1 {
    width: 68%;
}


.member .row {
    margin-right:0px;
}
.member-box {
    float:none;
    margin-bottom: 30px;
    width:100%;
}

.member .member-box-in {
    margin-right:0px;
}

.member-detail .member-img {
    float:none;
    width:100%;
}
.member-detail .member-info {
    margin-left:0px;
}
	
}

@media screen and (max-width: 240px) {

	body {
	}

	#featured p {
		font-size: 11px;
		line-height: 1.5em;
	}

	.featured-title {
		font-size: 20px;
	}

	.featured-subtitle {
		font-size: 11px;
	}

	.call-to-action a.button {
		font-size: 12px;
		padding: 5px 15px;
	}

	.top-widget area,
	.top-widget select,
	.top-widget textarea,
	.top-widget input[type="text"],
	.top-widget input[type="password"],
	.top-widget input[type="email"] {
		width: 75%;
	}

	.widget-title h3,
	.widget-title-home h3 {
		font-size: 14px;
		height: 13px;
		line-height: 13px;
		text-align: left;
	}

	.hide-240 {
		display: none;
	}

	.show-240 {
		display: block;
	}
}
